<form action="/records" method="POST">
  <div class="text-center my-4">
    <p class="text-secondary">請輸入你的支出</p>
  </div>
  <div class="justify-content-center row align-items-center my-4">
    <div class="col-auto">
      <label for="name" class="col-form-label">名稱*：</label>
    </div>
    <div class="col-4">
      <input type="text" id="name" name="name" class="form-control" value="{{name}}">
    </div>
  </div>
  <div class="justify-content-center row align-items-center my-4">
    <div class="col-auto">
      <label for="date" class="col-form-label">日期*：</label>
    </div>
    <div class="col-4">
      <input type="date" id="date" name="date" class="form-control" value="{{date}}">
    </div>
  </div>
  <div class="justify-content-center row align-items-center my-4">
    <div class="col-auto">
      <label for="category" class="col-form-label">類別*：</label>
    </div>
    <div class="col-4">
      <select class="form-select" id="category" name="category" data-value="{{date}}">
        <option value="">-- 請選擇分類 --</option>
        {{#each Category}}
        <option value="{{this.name}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="justify-content-center row align-items-center my-4">
    <div class="col-auto">
      <label for="merchant" class="col-form-label">店家：</label>
    </div>
    <div class="col-4">
      <input type="text" id="merchant" name="merchant" class="form-control" value="{{merchant}}">
    </div>
  </div>
  <div class="justify-content-center row align-items-center my-4">
    <div class="col-auto">
      <label for="amount" class="col-form-label">金額*：</label>
    </div>
    <div class="col-4">
      <input type="number" id="amount" name="amount" class="form-control" value="{{amount}}">
    </div>
  </div>
  <div class="justify-content-center row align-items-center my-4">
    <div class="col-auto">
      <label for="detail" class="col-form-label">說明*：</label>
    </div>
    <div class="col-4">
      <textarea id="detail" name="detail" rows="2" cols="50" class="form-control">{{detail}}</textarea>
    </div>

    </textarea>
  </div>
  {{#each alert }}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{this.msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {{/each}}
  <div class="d-grid gap-2 col-3 mx-auto">
    <button type="submit" class="btn btn-primary">新增</button>
  </div>

</form>

<script src="/javacripts/edit.js"></script>